# GLOBAL
# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (VERY IMPORTANT)
.env
.env.*
!.env.example

# Docker
docker-compose.yml

# NODE / BACKEND (server)
server/node_modules/
server/dist/
server/build/

# Optional: uploads or temp files
server/uploads/
server/tmp/

# REACT + VITE (client)
client/node_modules/
client/dist/
client/build/

# Vite cache
client/.vite/

# Env files (frontend)
client/.env
client/.env.*

# Python environment
__pycache__
*.pyc

# OpenAlex dataset
openalex_data_pipeline/data/
openalex_data_pipeline/checkpoints/
openalex_data_pipeline/logs/
openalex_data_pipeline/.venv/
openalex_data_pipeline/.vscode/
openalex_data_pipeline/.env

openalex_data_pipeline/scripts/retrieve_single_paper.py
openalex_data_pipeline/scripts/top100_topics.py

# DATABASE
# Local DB files
*.sqlite
*.db

# Dumps (be careful here)
*.sql

# BUT keep schema if you have one
!database/schema.sql

# TESTING
coverage/

# IDE / EDITOR
.vscode/
.idea/
*.swp
*.swo

# MISC
*.tgz
*.zip
*.tar